*{
    margin: 0;
    box-sizing: border-box;
}
.container{
   width: 100vw;
   height: auto;
   position: relative;
}
header{
   background-color: rgb(26, 125, 158);
   background-image:url(img/pattern.png);
   height: 35vh;
   width: 100%;
   background-repeat: repeat;
   padding-top: 15vh;
   padding-left: 1vw;

   
}
.logo{
    height: 70%;
    width: auto;    
}
main{
    position: absolute;
    padding-left: 1vw;
    font-family: 'PT Serif', serif;

}

h1,.writer, #booleaner, #when{
    font-family: 'Mukta', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
}
.writer, #booleaner, #when{
    color: gray;
    font-size: 1em;
}
#when, #booleaner{
    font-size:0,5em
} 
#booleaner{
    color: rgb(36, 161, 210);
    text-decoration: none;
}
figcaption{
    font-size: 10px;
    padding-bottom: 2vh;
}
section{
    border-top: 5vh;
}

#elenco{
    padding-top: 2vh;
    padding-bottom: 5vh;
    
}
ul{
    padding-left: 3vh;
}
table{
    border-spacing: 0;
    border-top: 5vh;
    margin-bottom: 5vh;

}
.table-head{
  
    background-color: rgb(40, 183, 230);
    color: white;
  
}
.table-body-1{
  
    background-color: rgb(122, 218, 250);
  
}
.coloumn{
    width: 25vw;
}
.evidenziatore{
    background-color: yellow;
}
.title{
    color: grey;
}
.last-section{
    padding-bottom: 7vh;
}
.aside{
    padding-top: 5vh;
    width: auto;
    
    
}